<h1>My Story</h1>

<p>I am an experienced web developer that enjoys new ways to push the boundaries of web design. With an artistic sense of design, 
knowledge of many things web geek and of course coffee, I persevere to bring my work to new heights. My services are available 
whether a simple website revision is required, or a complete overhaul is favored. I am college as well as industry educated. 
I enjoy hearing from my visitors. If you have a suggestion or just want to say hello, please use my contact form.</p>

